<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage :: O meni</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<body>
    <div id="menu">
        <ul>
            <li><a href="/">O meni</a></li>
            <li><a href="moji-projekti">Moji projekti</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div>
        <h2>Jasmina</h2>
        <img src="assets/images/Jasmina.jpg" style="width:250px;height:280px;">
        <p id="intro">Odraščala sem v Ljubljani, kjer trenutno živim z možem in hčerko. Moje življenje se vrti okrog družine in
        programiranja. S programiranjem sem se začela ukvarjati zaradi radovednosti. Hotela sem razumeti, s čim se ukvarja moj mož.</p>
    </div>
</body>
</body>
</html>